{{!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>--}}

	
	<section class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Welcome To Digitech Solutions</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/aboutus">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Breadcrumbs -->
	
	<section class="about-us section">
		<div class="container">
			<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-7 col-sm-6 col-xs-12">
					<div class="about-content">
						<h2>About Company</h2>
						<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it</p>
						<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other</p>
					</div>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="about-video">
						<div class="single-video">
							<a href="https://www.youtube.com/watch?v=wZWiRoktNWA" class="video-play mfp-iframe">
							<i class="fa fa-play"></i></a>
							<img src="/img/about.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="team" class="team section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="section-title">
                        <h2>Our Leaders</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
			
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-1.jpg" alt="#">
					        <div class="hover-team">
								<p class="team-text">Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>Ruhfayed Sakib</h4>
							<p>UI/UX Designer</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-2.jpg" alt="#">
					        <div class="hover-team">
								<p class="team-text">Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>Shakil Hossain</h4>
							<p>Developer</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
				<div class="col-md-3 col-sm-3 col-xs-12  wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-3.jpg" alt="#">
					        <div class="hover-team">
								<p class="team-text">Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>SM Jehad</h4>
							<p>Branding</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-4.jpg" alt="#">
					        <div class="hover-team">
								<p>Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>Meheraj Hossain</h4>
							<p>Developer</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
            </div>
        </div>
    </section>
	<!-- Start Testimonial -->
    <section id="testimonials" class="testimonial section">
        <div class="container">
            <div class="row">
				<div class="testimonial-active wow fadeInUp" data-wow-delay="0.4s">
					<!-- Single Testimonial -->
					<div class="testimonial-content">                   
						<h2>What People Say?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<h4 class="t-name">— Ruhfayed Sakib</h4>
					</div>   
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="testimonial-content">                   
						<h2>What People Say?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<h4 class="t-name">— Shakil Hossain</h4>
					</div>   
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="testimonial-content">                   
						<h2>What People Say?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<h4 class="t-name">— Meheraj Hossain</h4>
					</div>  
					<!--/ End Single Testimonial -->
				</div>
            </div>
        </div>
    </section>
    <!--/ End Testimonial -->
	
	<!-- Start Brand -->
    <div id="brand" class="brand section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					<div class="brand-slider">
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-1.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand active">
							<a href="#" target="_blank"><img src="/img/brand-2.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-3.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-4.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-5.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-6.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-1.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
					</div>
                </div>
            </div>
        </div>
    </div>

	
	
</body>
	
		<footer class="footer wow fadeInUp" id="contact">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12 ">
						<div class="single-widget about">
							<div class="footer-logo">
								<a href="#"><img src="/img/footer-logo.png" alt="#"></a>
							</div>
							<p>Architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<div class="button">
								<a href="about.html" class="btn primary">About Us</a>
							</div>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-widget contact">
							<h2>Contact Us</h2>
							<ul class="list">
								<li><i class="fa fa-map"></i>Address: House 20, Road 09, Blue Area, Islamabad Pakistan</li>
								<li><i class="fa fa-phone"></i>Phone: +880123456789 </li>
								<li><i class="fa fa-envelope"></i>Email:<a href="mailto:info@youremail.com">Info@youremail.com</a></li>
							</ul>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-widget">
							<h2>Follow Us</h2>
							<ul class="social-icon">
								<li class="active"><a href="#"><i class="fa fa-facebook"></i>Google Plus</a></li>
								<li class="active"><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
								<li class="active"><a href="#"><i class="fa fa-google-plus"></i>Google-plus</a></li>
								<li class="active"><a href="#"><i class="fa fa-behance"></i>Behance</a></li>
								<li class="active"><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
							</ul>					
						</div>
					</div>
					<!--/ End Single Widget -->
				</div>
			</div>
		</div>
		<!-- Footer Bottom -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<!-- Copyright -->
						<p>&#9400; Copyright 2020 Design & Development By <a href="#">HassanKhalid</a></p>
						<!--/ End Copyright -->
					</div>
				</div>
            </div>
		</div>	
		<!--/ End Footer Bottom -->
	</footer>
	<!--/ End footer Top -->
	
