{{!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>--}}


	<!-- Start Slider -->
    <section class="sufia-slider clearfix">
        <div class="slider-main">
            <!-- Slider Item -->
			<div class="single-slider" style="background-image:url(/img/slider-bg1.jpg)">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="welcome-text">
								<h1><span>A Totally New</span> Way to Your Business! </h1>
								<div class="button">
									<a href="#" class="btn primary">Learn More</a>
									<a href="#" class="btn">Buy Now</a>
								</div>
								<a class="b-arrow" href="#project"></a>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!--/ End Slider Item -->
			<!-- Slider Item -->
			<div class="single-slider" style="background-image:url(/img/slider-bg2.jpg)">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="welcome-text center">
								<h1><span>We Provide</span>perfect pixel coding! </h1>
								<div class="button">
									<a href="#" class="btn primary">Learn More</a>
									<a href="#" class="btn ">Buy Now</a>
								</div>
								<a class="b-arrow" href="#project"></a>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!--/ End Slider Item -->
			<!-- Slider Item -->
			<div class="single-slider" style="background-image:url(/img/slider-bg3.jpg)">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="welcome-text right">
								<h1><span>A Totally New</span> Way to Your Business! </h1>
								<div class="button">
									<a href="#" class="btn primary">Learn More</a>
									<a href="#" class="btn ">Buy Now</a>
								</div>
								<a class="b-arrow" href="#project"></a>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!--/ End Slider Item -->
        </div>
    </section>
    <!--/ End Slider -->
	
    <!-- Start Features -->
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
                    <div class="section-title">
                        <h2>Our Features</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
			
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<!-- Single features -->
                    <div class="single-features">
                        <i class="fa fa-adjust"></i>
						<h4>Unlimited Colors</h4>
						<p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
					<!--/ End features -->
                </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
					<!-- Single features -->
                    <div class="single-features">
                        <i class="fa fa-bars"></i>
						<h4>Easy To Use</h4>
						<p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
					<!--/ End features -->
                </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
					<!-- Single features -->
                    <div class="single-features">
                        <i class="fa fa-edit"></i>
						<h4>Easy to customize</h4>
						<p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
					<!--/ End features -->
                </div>
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
					<!-- Single features -->
                    <div class="single-features">
                        <i class="fa fa-plus"></i>
						<h4>Pixel Perfect</h4>
						<p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
					<!--/ End features -->
                </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
					<!-- Single features -->
                    <div class="single-features">
                        <i class="fa fa-code"></i>
						<h4>Well Code</h4>
						<p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
					<!--/ End features -->
                </div>
                 <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="1s">
					<!-- Single features -->
                    <div class="single-features">
                        <i class="fa fa-random"></i>
						<h4>Fully Editable</h4>
						<p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
					<!--/ End features -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Features -->

	<!-- Start Count Down -->
    <section id="countdown" class="count-down section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay="0.3s">
					<!-- Single Count -->
                    <div class="single-count">
                        <i class="fa fa-check"></i>
                        <h2 class="count">5000</h2>
                        <p>Projects Finished</p>
                    </div>
					<!--/ End Single Count -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay="0.5s">
					<!-- Single Count -->
                    <div class="single-count">
                        <i class="fa fa-star"></i>
                        <h2 class="count">10000</h2>
                        <p>Happy Clients</p>
                    </div>
					<!--/ End Single Count -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay="0.7s">
					<!-- Single Count -->
                    <div class="single-count">
						<i class="fa fa-pencil-square"></i>
                        <h2 class="count">12000</h2>
                        <p>Hours Worked</p>
                    </div>
					<!--/ End Single Count -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay="0.9s">
					<!-- Single Count -->
                    <div class="single-count">
                        <i class="fa fa-coffee"></i>
                        <h2 class="count">15000</h2>
                        <p>Cups of Coffee</p>
                    </div>
					<!--/ End Single Count -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Count Down -->
	
    <!-- Start Project -->
    <section id="project" class="project section">
        <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
                    <div class="section-title">
                        <h2>Latest Works</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
			
         <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<!-- Project Nav -->
                    <div class="project-nav">
                        <ul>
                            <li class="active" data-filter="*">All Works</li>
                            <li data-filter=".Android">Android</li>
                            <li data-filter=".IOS">IOS</li>
                            <li data-filter=".Node JS">Node JS</li>
                            <li data-filter=".Web">Web</li>
                            <li data-filter=".Wordpress">Wordpress</li>
                        </ul>
                    </div>
					<!--/ End Project Nav -->
                </div>
            </div>
			
            <div class="row wow fadeInUp" data-wow-delay="0.4s">
				<div class="isotop-active masonry">
					<div class="col-md-3 col-sm-4 col-xs-12 IOS Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-1.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12  Android">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-2.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12  Node JS IOS">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-3.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12 Web Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-4.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Android">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-5.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12 Node JS IOS Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-6.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12 Android Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-7.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-8.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12  Node JS Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-9.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-10.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 IOS">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-11.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Android Node JS Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-12.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="#">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
				</div>
            </div>
			
<!--
            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					
                    <div class="button">
                        <a href="project-masonry.html" class="btn">Load More</a>
                    </div>
					
                </div>
            </div>
-->
        </div>
    </section>

    <!-- Start Testimonial -->
    <section id="testimonials" class="testimonial section">
        <div class="container">
            <div class="row">
				<div class="testimonial-active wow fadeInUp" data-wow-delay="0.4s">
					<!-- Single Testimonial -->
					<div class="testimonial-content">                   
						<h2>What People Say?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<h4 class="t-name">— Ruhfayed Sakib</h4>
					</div>   
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="testimonial-content">                   
						<h2>What People Say?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<h4 class="t-name">— Shakil Hossain</h4>
					</div>   
					<!--/ End Single Testimonial -->
					<!-- Single Testimonial -->
					<div class="testimonial-content">                   
						<h2>What People Say?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						<h4 class="t-name">— Meheraj Hossain</h4>
					</div>  
					<!--/ End Single Testimonial -->
				</div>
            </div>
        </div>
    </section>
    <!--/ End Testimonial -->
	<section id="team" class="team section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="section-title">
                        <h2>Our Leaders</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
			
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-1.jpg" alt="#">
					        <div class="hover-team">
								<p class="team-text">Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>Ruhfayed Sakib</h4>
							<p>UI/UX Designer</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-2.jpg" alt="#">
					        <div class="hover-team">
								<p class="team-text">Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>Shakil Hossain</h4>
							<p>Developer</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
				<div class="col-md-3 col-sm-3 col-xs-12  wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-3.jpg" alt="#">
					        <div class="hover-team">
								<p class="team-text">Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>SM Jehad</h4>
							<p>Branding</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
					<!-- Single Team -->
                    <div class="single-team">
						<div class="team-head">
							<img src="img/team-4.jpg" alt="#">
					        <div class="hover-team">
								<p>Lorem ipsum dor sit amet consectetur adipiscing elit. Sed tincidunt mi quam luctus volutpat. Quisque sodales.</p>
								<ul class="team-social">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="member-name">
							<h4>Meheraj Hossain</h4>
							<p>Developer</p>
						</div>
                    </div>
					<!--/ End Team -->
                </div>
            </div>
        </div>
    </section>

	
	<!-- Contact Us -->
	<section id="contact" class="section">
		<div class="container">
			 <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					<div class="section-title">
					   <h2>Contact US</h2>
					   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
					</div>
				</div>
			 </div>
		
			<div class="row">
				<!-- Contact Form -->
				<div class="col-md-5 col-sm-6 col-xs-12 wow fadeInUp">
					<form class="form" method="post" action="">
						<div class="form-group">
							<input type="text" name="name" placeholder="Full Name" required="required">
                        </div>
						<div class="form-group">
							<input type="email" name="email" placeholder="Enter Your Email" required="required">
                        </div>
						<div class="form-group">
							<input type="text" name="subject" placeholder="Subject" required="required">
                        </div>
						<div class="form-group">
							<textarea name="message" rows="6" placeholder="Type Your Message Here" ></textarea>
                        </div>
						<div class="form-group">	
							<button type="submit" class="button primary contact-button" name="contact_button" style=" background: #29B6F6;"><i class="fa fa-send"></i>Submit</button>
                        </div>
					</form>
				</div>
				<!--/ Contact Form -->
				<!-- Google Map -->
				<div class="col-md-7 col-sm-6 col-xs-12 wow fadeInUp">
					<div class="contact-map">
<!--						<div class="map"></div>-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13274.607504646372!2d73.06239922571122!3d33.71795588932555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbf9bc116caa3%3A0x337cd6075e732737!2sBlue%20Area%2C%20Islamabad%2C%20Islamabad%20Capital%20Territory%2C%20Pakistan!5e0!3m2!1sen!2s!4v1598167939578!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
				<!--/ End Google Map -->
			</div>
		</div>
	</section>
	<!--/ End Clients Us -->

    <!-- Start Brand -->
    <div id="brand" class="brand section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					<div class="brand-slider">
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-1.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand active">
							<a href="#" target="_blank"><img src="/img/brand-2.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-3.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-4.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-5.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-6.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
						<!-- Single Brand -->
						<div class="single-brand">
							<a href="#" target="_blank"><img src="/img/brand-1.png" alt="#"></a>
						</div>
						<!--/ End Single Brand -->
					</div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Brand -->

	
	
	

</body>
	<!-- Footer Top -->
	<footer class="footer wow fadeInUp" id="contact">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12 ">
						<div class="single-widget about">
							<div class="footer-logo">
								<a href="#"><img src="/img/footer-logo.png" alt="#"></a>
							</div>
							<p>Architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<div class="button">
								<a href="about.html" class="btn primary">About Us</a>
							</div>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-widget contact">
							<h2>Contact Us</h2>
							<ul class="list">
								<li><i class="fa fa-map"></i>Address: House 20, Road 09, Blue Area, Islamabad Pakistan</li>
								<li><i class="fa fa-phone"></i>Phone: +880123456789 </li>
								<li><i class="fa fa-envelope"></i>Email:<a href="mailto:info@youremail.com">Info@youremail.com</a></li>
							</ul>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-widget">
							<h2>Follow Us</h2>
							<ul class="social-icon">
								<li class="active"><a href="#"><i class="fa fa-facebook"></i>Google Plus</a></li>
								<li class="active"><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
								<li class="active"><a href="#"><i class="fa fa-google-plus"></i>Google-plus</a></li>
								<li class="active"><a href="#"><i class="fa fa-behance"></i>Behance</a></li>
								<li class="active"><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
							</ul>					
						</div>
					</div>
					<!--/ End Single Widget -->
				</div>
			</div>
		</div>
		<!-- Footer Bottom -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<!-- Copyright -->
						<p>&#9400; Copyright 2020 Design & Development By <a href="#">HassanKhalid</a></p>
						<!--/ End Copyright -->
					</div>
				</div>
            </div>
		</div>	
		<!--/ End Footer Bottom -->
	</footer>
	<!--/ End footer Top -->
	
