<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

   <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='copyright' content='codeglim'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Title Tag-->
    <title>Digitech Solutions</title>
  

  
  <!-- Google Fonts & Google Maps API -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet"> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM" type="text/javascript"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/hover.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/responsive.css">
  <link rel="stylesheet" href="/stylesheets/slick.css">
  <link rel="stylesheet" href="/stylesheets/slicknav.min.css">       

</head>
<body>
<div class="">
  {{>navbar}}
  <div class="row">
    <div class="col">
      {{{body}}}
    </div>
  </div>
</div>
</body>

    <!-- Jquery -->
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>

  <!-- Modernizr JS -->
  <script type="text/javascript" src="/javascripts/modernizr.min.js"></script>
  
  <!-- Appear Js -->
  <script type="text/javascript" src="/javascripts/jquery.appear.js"></script>  
  
  <!-- Scrool Up -->
    <script type="text/javascript" src="/javascripts/jquery.scrollUp.min.js"></script>
  
  <!-- Typed Js -->
  <script type="text/javascript" src="/javascripts/typed.min.js"></script>
  
  <!-- Slick Nav -->
  <script type="text/javascript" src="/javascripts/jquery.slicknav.min.js"></script>
  
  <!-- Onepage Nav -->
  <script type="text/javascript" src="/javascripts/jquery.nav.js"></script>
  
    <!-- Yt Player -->
  <script type="text/javascript" src="/javascripts/ytplayer.min.js"></script>
  
  <!-- Magnific Popup -->
  <script type="text/javascript" src="/javascripts/magnific-popup.min.js"></script>
  
  <!-- Wow JS -->
  <script type="text/javascript" src="/javascripts/wow.min.js"></script>
  
  <!-- Counter JS -->
  <script type="text/javascript" src="/javascripts/waypoints.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.counterup.min.js"></script>
  
  <!-- Isotop JS -->
  <script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>
  
    <!-- Masonry JS -->
  <script type="text/javascript" src="/javascripts/masonry.pkgd.min.js"></script>
  
  <!-- Slick Slider -->
  <script type="text/javascript" src="/javascripts/slick.min.js"></script>
  
  <!-- Bootstrap JS -->
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  
  <!-- Google Map JS -->
  <script type="text/javascript" src="/javascripts/gmap.js"></script>
    
    <!-- Activate JS -->
  <script type="text/javascript" src="/javascripts/active.js"></script>


</html>
