


<!-- Start Breadcrumbs -->
	<section class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Our Latest Project</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/portfolio">Portfolio</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Breadcrumbs -->
	
	<!--  Project Archive-->
   <section id="project" class="project section">
        <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
                    <div class="section-title">
                        <h2>Latest Works</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
			
         <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
					<!-- Project Nav -->
                    <div class="project-nav">
                        <ul>
                            <li class="active" data-filter="*">All Works</li>
                            <li data-filter=".Android">Android</li>
                            <li data-filter=".IOS">IOS</li>
                            <li data-filter=".Node JS">Node JS</li>
                            <li data-filter=".Web">Web</li>
                            <li data-filter=".Wordpress">Wordpress</li>
                        </ul>
                    </div>
					<!--/ End Project Nav -->
                </div>
            </div>
			
            <div class="row wow fadeInUp" data-wow-delay="0.4s">
				<div class="isotop-active masonry">
					<div class="col-md-3 col-sm-4 col-xs-12 IOS Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-1.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12  Android">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-2.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/2">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12  Node JS IOS">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-3.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/3">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12 Web Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-4.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/4">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Android">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-5.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/5">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12 Node JS IOS Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-6.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					 <div class="col-md-3 col-sm-4 col-xs-12 Android Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-7.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-8.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12  Node JS Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-9.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Web">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-10.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 IOS">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-11.jpg" alt="#">
								<div class="project-hover">
									<h4><a  href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 Android Node JS Wordpress">
						<!-- Single Project -->
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-12.jpg" alt="#">
								<div class="project-hover">
									<h4><a href="/portfolio_detail/1">Project Name</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<!--/ End Single Project -->
					</div>
				</div>
            </div>
        </div>
    </section>
	
	
</body>
	
		<footer class="footer wow fadeInUp" id="contact">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12 ">
						<div class="single-widget about">
							<div class="footer-logo">
								<a href="#"><img src="/img/footer-logo.png" alt="#"></a>
							</div>
							<p>Architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<div class="button">
								<a href="about.html" class="btn primary">About Us</a>
							</div>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-widget contact">
							<h2>Contact Us</h2>
							<ul class="list">
								<li><i class="fa fa-map"></i>Address: House 20, Road 09, Blue Area, Islamabad Pakistan</li>
								<li><i class="fa fa-phone"></i>Phone: +880123456789 </li>
								<li><i class="fa fa-envelope"></i>Email:<a href="mailto:info@youremail.com">Info@youremail.com</a></li>
							</ul>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-widget">
							<h2>Follow Us</h2>
							<ul class="social-icon">
								<li class="active"><a href="#"><i class="fa fa-facebook"></i>Google Plus</a></li>
								<li class="active"><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
								<li class="active"><a href="#"><i class="fa fa-google-plus"></i>Google-plus</a></li>
								<li class="active"><a href="#"><i class="fa fa-behance"></i>Behance</a></li>
								<li class="active"><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
							</ul>					
						</div>
					</div>
					<!--/ End Single Widget -->
				</div>
			</div>
		</div>
		<!-- Footer Bottom -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<!-- Copyright -->
						<p>&#9400; Copyright 2020 Design & Development By <a href="#">HassanKhalid</a></p>
						<!--/ End Copyright -->
					</div>
				</div>
            </div>
		</div>	
		<!--/ End Footer Bottom -->
	</footer>
	<!--/ End footer Top -->
