	<!-- Start Breadcrumbs -->
	<section class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Project Single</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="project-single.html">project-single.html</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Breadcrumbs -->
	
	<!-- Project Project -->
    <section class="project single section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.4s">
					<!-- Project Slide -->
					<div class="project-slide">
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-1.jpg" alt="#">			
								<div class="project-hover">
									<h4><a href="#">UI UX Design</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
						<div class="single-project">
							<div class="project-head">
								<img src="/img/project/proj-1.jpg" alt="#">			
								<div class="project-hover">
									<h4><a href="#">UI UX Design</a></h4>
									<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
								</div>
							</div>
						</div>
                    </div>
					<!--/ End Porject Slide -->
                </div>	
				<div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
					<!-- Project Description -->
					<div class="project-descreption">
						<h2>UI/UX Design</h2>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It have roots in a piece of classical Latin literature from 45 BC, making it over 200 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virgii, looked up one of the more obscure Latin words, consectetur, from a pass- age, and going through the cites of classical literature.</p>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It have roots in a piece of classical Latin literature from 45 BC, making it over 200 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virgii, looked up one of the more obscure Latin words, consectetur, from a pass- age, and going through the cites of classical literature.</p>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It have roots in a piece of classical Latin literature from 45 BC.</p>
						<ul class="project-info">
							<li><i class="fa fa-angle-double-right"></i><span>Clients:</span><a href="http://www.website.com">www.website.com</a></li>
							<li><i class="fa fa-angle-double-right"></i><span>Skills:</span> Html5,Css3,Jquery,PHP,Photography</li>
							<li><i class="fa fa-angle-double-right"></i><span>Creation Date:</span>05/2014</li>
						</ul>
					</div>
					<!--/ End Project Description -->
				</div>
			</div>
			
			<div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					<!-- Button -->
                    <div class="button">
                        <a href="#" class="btn"><i class="fa fa-send"></i>Visit Porject</a>
                    </div>
					<!--/ End Button -->
                </div>
            </div>
			
			<div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					<!-- Related Project -->
					<div class="project-related">
						<h4>Related Project</h4>
						<div class="related-slide">
							<!-- Single Project -->
							<div class="single-project">
								<div class="project-head">
									<img src="/img/project/proj-1.jpg" alt="#">			
									<div class="project-hover">
										<h4><a href="#">UI UX Design</a></h4>
										<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
									</div>
								</div>
							</div>
							<!--/ End Single Project -->
							<!-- Single Project -->
							<div class="single-project">
								<div class="project-head">
									<img src="/img/project/proj-2.jpg" alt="#">			
									<div class="project-hover">
										<h4><a href="#">UI UX Design</a></h4>
										<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
									</div>
								</div>
							</div>
							<!--/ End Single Project -->
							<!-- Single Project -->
							<div class="single-project">
								<div class="project-head">
									<img src="/img/project/proj-3.jpg" alt="#">			
									<div class="project-hover">
										<h4><a href="#">UI UX Design</a></h4>
										<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
									</div>
								</div>
							</div>
							<!--/ End Single Project -->
							<!-- Single Project -->
							<div class="single-project">
								<div class="project-head">
									<img src="/img/project/proj-4.jpg" alt="#">			
									<div class="project-hover">
										<h4><a href="#">UI UX Design</a></h4>
										<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
									</div>
								</div>
							</div>
							<!--/ End Single Project -->
							<!-- Single Project -->
							<div class="single-project">
								<div class="project-head">
									<img src="/img/project/proj-5.jpg" alt="#">			
									<div class="project-hover">
										<h4><a href="#">UI UX Design</a></h4>
										<p>Lorm ipsum dolor si amt, consectetur adipisicing elt, sed do eiusmod tpor incididunt ut labore et dolore magna.</p>
									</div>
								</div>
							</div>
						</div>
                    </div>
					<!-- End Related Project -->
                </div>	
            </div>
		</div>
	</section>
	<!--End Project Project -->